.weather-app {
  display: block;
  max-width: 600px;
  background: linear-gradient(
    179.2deg,
    rgb(11, 11, 173) 0.9%,
    rgb(68, 205, 224) 95.5%
  );
  margin: 30 auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
}
.container {
}
.form-select {
  display: block;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 26px;
  margin-bottom: 0;
}
li {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 0;
}
ul {
  margin: 0;
  padding: 0;
}
h2 {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
}
.temperature {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  color: white;
  margin-top: 8px;
}
.temperature-description,
.feels-like,
.humidity,
.windspeed {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.container-sm {
  display: block;
  margin: 0 80px 0 80px;
}

.col-6 {
  color: white;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  font-family: sans-serif;
  font-size: 15px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: white;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature.units {
  position: relative;
  color: white;
  right: -600px;
  top: 0px;
  font-size: 12px;
}
a {
  color: white;
}
